<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.football.net">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 可选 -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />


    <application
        android:name="com.football.net.manager.FootBallApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/MainTheme"
        tools:replace="icon,theme,label,android:allowBackup,android:supportsRtl">
        <activity android:name="com.football.net.ui.MainActivity_" />
        <activity android:name="com.football.net.mj.MWeb" />
        <activity
            android:name="com.football.net.mj.CheckAppIdActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.football.net.ui.LoginActivity_"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Fullscreen"></activity>

        <activity
            android:name="com.football.net.ui.RegisterActivity_"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name="com.football.net.ui.ForgetPWActivity_"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name="com.football.net.ui.FabuPictureActivity_"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="发布图片"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.football.net.ui.Mine4MemberAty"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="我"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.football.net.ui.Mine4CaptainAty"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="我"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.football.net.ui.Mine4NoRoleAty"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="我"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.football.net.ui.FabuVideoActivity_"
            android:label="发布视频" />
        <activity
            android:name="com.football.net.ui.FabuLookForTeamActivity_"
            android:label="发布找队" />
        <activity android:name="com.football.net.ui.FabuLookForPeopleActivity_" />
        <activity
            android:name="com.football.net.ui.FabuSigninMessageActivity_"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name="com.football.net.ui.FabuInnerMessageActivity_"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity android:name="com.football.net.ui.FabuScoreTeamListActivity" />
        <activity android:name="com.football.net.ui.FabuScoreCommitActivity_" />
        <activity android:name="com.football.net.ui.MineCenterAtivity_" />
        <activity android:name="com.football.net.ui.MineTeamAtivity_" />
        <activity android:name="com.football.net.ui.MinePersonalInfoAtivity_" />
        <activity
            android:name="com.football.net.ui.ActivityDetailActivity"
            android:label="@string/title_activity_detail" />
        <activity
            android:name="com.football.net.ui.UserKnowAty"
            android:label="@string/user_know" />
        <activity
            android:name="com.football.net.ui.GameDetailAty"
            android:label="@string/game_detail" />
        <activity
            android:name="com.football.net.ui.ModifyPlayBookAty"
            android:label="@string/title_modify_back" />
        <activity
            android:name="com.football.net.ui.ModifyPlayBookAty1"
            android:label="@string/title_modify_back" />
        <activity
            android:name="com.football.net.ui.FootBallGroundDetailActivity"
            android:label="@string/title_football_ground_detail" />
        <activity
            android:name="com.football.net.ui.RecruitPeopleDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_recruit_people_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.football.net.ui.FindTeaamDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/title_find_team_detail"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.football.net.ui.ImageDetailsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/title_find_team_detail"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.football.net.ui.CreateFootballTeamActivity"
            android:label="@string/title_create_team" />
        <activity
            android:name="com.football.net.ui.PictureActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/title_pic"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.football.net.ui.PictureActivity1"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/title_pic"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.football.net.ui.ModifyUserAty"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/title_pic"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.football.net.ui.SquareVideoActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            android:exported="true"
            android:label="@string/title_squre_video"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.football.net.ui.FootBallTeamInfoActivity"
            android:label="@string/title_football_info_zhanji" />
        <activity
            android:name="com.football.net.ui.PlayerDetialActivity"
            android:label="playerDetial" />
        <!--     <activity
                 android:name=".ui.PlayerPictureActivity"
                 android:label="@string/title_player_picture" />-->
        <activity
            android:name="com.football.net.ui.shouye.PlayerPicture7VideoActivity"
            android:label="@string/title_player_picture" />
        <activity
            android:name="com.football.net.ui.PlayerInfoActivity"
            android:label="@string/title_player_info" />
        <activity
            android:name="com.football.net.ui.PlayerZhanJiActivity"
            android:label="@string/title_player_zhanji" />
        <activity
            android:name="com.football.net.ui.NewsActivity"
            android:label="@string/title_player_zhanji" />

        <activity
            android:name="com.football.net.ui.InformCaptainActivity"
            android:label="通知" />
        <activity
            android:name="com.football.net.ui.InformNewMemberApproveActivity"
            android:label="新队员审批" />
        <activity
            android:name="com.football.net.ui.TeamListActivity"
            android:label="球队列表" />
        <activity
            android:name="com.football.net.ui.InformSignDetailActivity"
            android:label="@string/title_inform_sign_detial" />
        <activity
            android:name="com.football.net.ui.InformSignOnTheSpotActivity"
            android:label="@string/title_inform_sign_on_the_spot" />
        <activity android:name="com.football.net.ui.TeamDetialActivity" />
        <activity android:name="com.football.net.ui.TeamDetialActivity1" />
        <activity android:name="com.football.net.ui.TeamDetialActivity2" />
        <activity android:name="com.football.net.ui.InformMemberActivity" />
        <activity android:name="com.football.net.ui.InformMemberRecruitDetialActivity" />
        <activity android:name="com.football.net.ui.MemberSignDetailActivity" />
        <activity android:name="com.football.net.ui.SelectTeamActivity" />
        <activity android:name="com.football.net.ui.FabuMatchActivity" />

        <activity android:name="com.football.net.ui.MinePicturectivity" />
        <activity android:name="com.football.net.ui.MineVideoActivity" />
        <activity android:name="com.football.net.ui.MineRecuritActivity" />
        <activity android:name="com.football.net.ui.MineApplyActivity" />
        <activity android:name="com.football.net.ui.MineInfoActivity" />
        <activity android:name="com.football.net.ui.MineSigninMessageActivity" />
        <activity android:name="com.football.net.ui.MineGameListActivity" />
        <activity android:name="com.football.net.ui.MineScoreListActivity" />
        <activity android:name="com.football.net.ui.HelpActivity" />
        <activity android:name="com.football.net.ui.MineJoinedExerciseActivity" />

        <activity android:name="com.football.net.ui.MineCenter4MemberAtivity_" />
        <activity android:name="com.football.net.ui.MineCenter4CaptainAtivity_" />
        <activity android:name="com.football.net.ui.MinePicture7VideoActivity" />
        <activity android:name="com.football.net.ui.shouye.FirstNewsDetailActivity" />
        <activity android:name="com.football.net.ui.MineMoreMemberActivity" />
        <activity android:name="com.football.net.ui.MineCenter4NoRoleAtivity_" />
        <activity android:name="com.football.net.ui.MineRecurit4NoRoleActivity" />
        <activity android:name="com.football.net.ui.PlayerDetial4CaptainActivity" />
        <activity android:name="com.football.net.ui.DuihuiActivity" />
        <activity android:name="com.football.net.ui.TeamAchievesActivity" />
        <activity android:name="com.football.net.ui.SearchResultActivity" />
        <activity android:name="com.football.net.ui.PictureShowActivity" />


        <activity
            android:name="vn.tungdx.mediapicker.activities.MediaPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MediaPickerTheme" />

        <!-- 图片选择器 -->
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->

    </application>

</manifest>
